<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- 城市数据地址 -->
  <add key="Public.City.Url" value="E:\资料\Project\Public.UserManage.Web\Public.UserManage.Web\App_Data\City.txt"/>
  <add key="Public.City.Timeout" value="3600000"/>
</appSettings>

