<?xml version="1.0" encoding="utf-8"?>
<ArrayOfMenuModel>
  <MenuModel Name="首页" Url=""  Resource="" Operation="">
    <MenuList>
      <MenuModel Name="我的任务" Url="~/Account/MyTask"  Resource="account_mytask" Operation="view" />
      <MenuModel Name="我的草稿" Url="~/News/MyDraft"  Resource="news_mydraft" Operation="view" />
      <MenuModel Name="我的预发布" Url="~/News/MyPreview"  Resource="news_mypreview" Operation="view" />
      <MenuModel Name="我的发布" Url="~/News/MyPublish"  Resource="news_mypublish" Operation="view" />
      <MenuModel Name="我的审核" Url="~/NewsCheck/MyCheck"  Resource="newscheck_my" Operation="view" />
      <MenuModel Name="新版审核" Url="~/MyAudit/Index"  Resource="myaudit_index" Operation="view" />
      <MenuModel Name="块收藏" Url="~/Piece/MyPiece"  Resource="piece_my" Operation="view" />
      <MenuModel Name="焦点图收藏" Url="~/Focus/MyFocus"  Resource="focus_my" Operation="view" />
    </MenuList>
  </MenuModel>
  <MenuModel Name="内容管理" Url=""  Resource="" Operation="" Childs="~/Topic/SubTopicEdit">
    <MenuList>
      <MenuModel Name="文章管理" Url="~/News/Index?Status=2" Param="Status=2"  Resource="news_index" Operation="view" />
      <MenuModel Name="草稿" Url="~/News/Index?Status=0" Param="Status=0"  Resource="news_index" Operation="view" />
      <MenuModel Name="预发布" Url="~/News/Index?Status=3" Param="Status=3"  Resource="news_index" Operation="view" />
      <MenuModel Name="全部审核" Url="~/NewsCheck/Index"  Resource="newscheck_index" Operation="view" />
      <MenuModel Name="全部审核(新)" Url="~/AllAudit/Index"  Resource="allaudit_index" Operation="view" />
      <MenuModel Name="块管理" Url="~/Piece/PieceMgr"  Resource="piece_mgr" Operation="view" />
      <MenuModel Name="焦点图" Url="~/Focus/Manager"  Resource="focus_manager" Operation="view"  />
      <MenuModel Name="专题管理" Url="~/Topic/TopicMgr" Resource="topic_mgr" Operation="view" Childs="~/Topic/SubTopicEdit" />
      <MenuModel Name="文章统计" Url="~/NewsExtend/Index" Resource="news_index" Operation="view" />
    </MenuList>
  </MenuModel>
  <MenuModel Name="类别管理" Url=""  Resource="" Operation="">
    <MenuList>
      <MenuModel Name="文章分类" Url="~/NewsCategory/Index"  Resource="newscategory_index" Operation="view"  />
      <MenuModel Name="块分类" Url="~/PieceCategory/Index"  Resource="piececategory_index" Operation="view"  />
      <MenuModel Name="专题分类" Url="~/TopicCategory/Index"  Resource="topiccategory_index" Operation="view"  />
      <MenuModel Name="自定义分类" Url="~/NewsTagCategory/Index"  Resource="newstagcategory_index" Operation="view"  />
      <MenuModel Name="页面分类" Url="~/PageIndexCategory/Manager"  Resource="pageindexcategory_index" Operation="view"  />
    </MenuList>
  </MenuModel>
  <MenuModel Name="控制面板" Url="" Resource="" Operation="">
    <MenuList>
      <MenuModel Name="站点管理" Url="~/WebSite/Manager"  Resource="website_manager" Operation="view"  />
      <MenuModel Name="自定义分类" Url="~/NewsTag/NewsTagList"  Resource="newstag_list" Operation="view"/>
      <MenuModel Name="模板管理" Url="~/Template/TemplateList"  Resource="template_list" Operation="view" />
      <MenuModel Name="审核管理" Url="~/AuditLine/Index"  Resource="auditline_index" Operation="view"  />
      <MenuModel Name="来源管理" Url="~/NewsSource/NewsSourceList"  Resource="newssource_list" Operation="view"  />
      <MenuModel Name="页面管理" Url="~/PageIndex/Manager"  Resource="pageindex_manager" Operation="view"  />
      <MenuModel Name="文章列表" Url="~/Archive/ArchiveMgr"  Resource="archive_index" Operation="view"  />
      <MenuModel Name="用户管理" Url="~/SysUser/SysUserList"  Resource="sysuser_list" Operation="view"  />
      <MenuModel Name="数据源管理(临时)" Url="~/DataSource/DataSourceMgr" Resource="datasource_mgr" Operation="view" />
      <MenuModel Name="编辑反馈" Url="~/FeedBack/FeedBackList" Resource="feedback_index" Operation="view" />
      <MenuModel Name="日志查看" Url="~/Log/LogList" Resource="logs_index" Operation="view" />
      <MenuModel Name="生成工具" Url="~/Tool/Generating" Resource="tool_index" Operation="view" />
    </MenuList>
  </MenuModel>
</ArrayOfMenuModel> 